name: Cypress E2E Tests

on: 
  push: 
    branches: [ "main", "master" ] 
  pull_request: 

jobs:
  cypress-run:
    runs-on: ubuntu-latest 
    steps:      
      - name: Checkout code
        uses: actions/checkout@v4
      
      - name: Cypress Run
        uses: cypress-io/github-action@v6
        with:          
          spec: cypress/e2e/fill_form.cy.js